/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333 !important;
    border-radius: 0 !important;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #ccc !important;
    }

* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}

html {
    height: -webkit-fill-available;
}

div, p, label {
    text-align: left;
}
.hide, .hidden {
    display:none !important;
}
.theme--active .icon,
.theme--active {
    background-color: #0d6efd !important;
    color: #fff !important;
}
.theme--bg-main {
    background-color: #000 !important;
}
.theme--bg-nav {
    background-color: #212529 !important;
}
.theme--bg-box {
    background-color: #212529 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: 1px solid #333;
}
.theme--hr {
    height: 1px;
    background-color: #333;
    width: 100%;
}
.theme--title-1 {
    color: whitesmoke !important;
    font-weight: normal !important;
    line-height: 1.8rem !important;
    word-spacing: 1px !important;
}
.theme--color-2 {
    color: #cac2c2 !important;
}
.theme--color-1 {
    color: #fff !important;
}
.theme--color-active {
    color: #fff !important;
}
.theme--color-selected {
    color: #ffc107 !important;
}
.theme--outline-selected {
    outline: solid 1px #ffc107 !important;
}

.theme--border-color-1 {
    border-color: #6c757d !important;
}
.theme--border-color-2 {
    border-color: #454545 !important;
}
.theme--border-color-3 {
    border-color: #353535 !important;
}

.theme--outline-active {
    outline: solid 1px #fff !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.modal {
    border: none !important;
}
.modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}
.opacity-0 {
    opacity: 0 !important;
}

.opacity-25 {
    opacity: .25 !important;
}

.opacity-50 {
    opacity: .5 !important;
}

.opacity-75 {
    opacity: .75 !important;
}

.opacity-100 {
    opacity: 1 !important;
}

.fs-07 {
    font-size: 0.7rem !important;
    line-height: 0.8rem !important;
}
.fs-08 {
    font-size: 0.8rem !important;
    line-height: 0.9rem !important;
}
.fs-09 {
    font-size: 0.9rem !important;
    line-height: 1rem !important;
}
.me-6 {
    margin-right: 5rem !important;
}
.me-7 {
    margin-right: 7rem !important;
}
.me-8 {
    margin-right: 9rem !important;
}
.bd-1 {
    border: solid 1px #555 !important;
    border-radius: 5px !important;
}

.outline-1 {
    outline: solid 1px #555 !important;
}

a {
    cursor: pointer;
}

label {
    text-align: left;
}

svg {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}


div[ui-view] {
    display: inline-block;
}

    div[ui-view] .container {
        background-color: #f8f9fa;
    }

.__vicom.ui-input input.ui-input-item:focus {
    outline: none !important;
    box-shadow: none;
}

/*****************/
.main-page {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow: hidden;
}

#main-left {
    /*width: 163px;*/
}

#main-body {
    flex-shrink: 0;
    flex: auto;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
    position: relative;
    /*width: calc(100% - 163px);*/
    /*background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
}

