* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}

html {
    height: -webkit-fill-available;
}

div, p, label {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-25 {
    opacity: .25 !important;
}

.opacity-50 {
    opacity: .5 !important;
}

.opacity-75 {
    opacity: .75 !important;
}

.opacity-100 {
    opacity: 1 !important;
}

.bd-1 {
    border: solid 1px #555 !important;
    border-radius: 5px !important;
}

.outline-1 {
    outline: solid 1px #555 !important;
}

.fd-form {
    padding-bottom: 7px !important;
}

    .fd-form.fields {
        margin: 0 0 1em !important;
        padding-bottom: 0 !important;
    }

.ui.button {
    font-weight: normal;
}
.hidden {
    display: none !important;
}
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
    font-family: inherit;
}

.ui.label {
    background-color: transparent;
    font-weight: normal;
}

a {
    cursor: pointer;
}

label {
    text-align: left;
}

svg {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}


div[ui-view] {
    display: inline-block;
}

    div[ui-view] .container {
        background-color: #f8f9fa;
    }

.ui.stacked.segment:after,
.ui.stacked.segment:before,
.ui.stacked.segments:after,
.ui.stacked.segments:before {
    height: 4px;
}

.ui.form .error.message,
.ui.form .error.message:empty {
    display: block;
}

.main-page {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow: hidden;
}

#main-left {
    width: 163px;
}

#main-body {
    flex-shrink: 0;
    width: calc(100% - 163px);
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    overflow: hidden;
    display: inline-block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

/*****************/

body.uib-login {
    background-color: #DADADA;
}

    body.uib-login #main-left {
        display: none;
    }

    body.uib-login #main-body {
        width: 100%;
    }
