<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                        @click="command = 'close';__popupClose()"></button>
            </div>
            <div class="modal-body">
                <p>{{text}}</p>
            </div>
            <div class="modal-footer" v-show="(btn_cancel && btn_cancel.length > 0)||(btn_ok && btn_ok.length > 0)">
                <button v-show="btn_cancel && btn_cancel.length > 0" @click="command = 'close';__popupClose()"
                        type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{btn_cancel}}</button>
                <button v-show="btn_ok && btn_ok.length > 0" @click="command = 'ok';__popupClose()"
                        type="button" class="btn btn-primary">{{btn_ok}}</button>
            </div>
        </div>
    </div>
</div>