<div class="ui middle aligned center aligned grid" style="height: calc(100vh - 10px);">
    <div class="column" style="width: 300px;">
        <h2 class="ui teal image header">
            <svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="image" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <div class="ui large form">
            <div class="ui error message" v-show="messagesExist">
                <ul>
                    <li v-for="m in messagesText" class="text-start">{{m}}</li>
                </ul>
            </div>
            <div class="ui stacked segment">
                <div class="field __user_name">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <!--<input type="text" name="user_name" v-model="user$.user_name" v-on:input="formHandler('user_name', $event)" placeholder="User name">-->
                        <input type="text" name="user_name" v-model="user$.user_name" placeholder="User name">
                    </div>
                </div>
                <div class="field __password">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" v-model="user$.password" placeholder="Password">
                    </div>
                </div>
                <!--<div class="field text-start">
        <div class="ui toggle checkbox" v-on:click="user$.has_remember = !user$.has_remember">
            <input type="checkbox" name="has_remember" v-model="user$.has_remember" tabindex="0" class="hidden">
            <label>Remember password</label>
        </div>
    </div>-->
                <div class="field text-start">
                    <div class="ui checkbox" v-on:click="user$.has_remember = !user$.has_remember; formHandler('has_remember', $event)">
                        <input type="checkbox" name="has_remember" v-model="user$.has_remember" class="hidden">
                        <label>Remember password</label>
                    </div>
                </div>
                <div class="ui fluid large teal submit button" v-on:click="loginSubmit">Login</div>
                <hr />
                <div class="ui fluid large teal submit button mb-3 bg-primary" v-on:click="testBind">Google</div>
                <div class="ui fluid large teal submit button bg-danger" v-on:click="testBind">Facebook</div>
            </div>


        </div>

        <div class="ui message">
            New to us? <a href="#">Sign Up</a>
        </div>
    </div>
</div>