<div class="ui p-4">
    <div class="header h3 pt-3">
        Login System
    </div>
    <div class="content">
        <form class="ui form p-3">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="gift" tabindex="0" class="hidden">
                    <label>Do not include a receipt in the package</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
        </form>
    </div>
    <div class="actions p-3">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Login
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>