
.ui-view.document.edit #edit-box {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    /*border: 1px solid #ccc;*/
}

.ui-view.document.edit #edit-html {
    outline: none;
    min-height: 350px;
    height: 100%;
    line-height: 27px;
    word-spacing: 4px;
    color: #000;
    font-size: 1.3em;
}


.ui-view.document.edit h1 {
    padding: 10px 30px 20px;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* [ EDIT MODE ] */

.ui-view.document.edit .__line {
    padding-left: 5px !important;
    border-left: solid 3px white !important;
}

    .ui-view.document.edit .__line.active {
        border-color: red !important;
    }

    .ui-view.document.edit .__line.h3 {
        font-weight: bold;
        padding: 10px 0;
    }

    .ui-view.document.edit .__line.__tag,
    .ui-view.document.edit .__line.__empty {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .ui-view.document.edit .__line.__empty {
        height: 30px;
    }

    .ui-view.document.edit .__line.__tag {
        height: 40px;
    }

        .ui-view.document.edit .__line.__tag:before {
            content: "\f02c";
            line-height: 1;
            font-style: normal;
            display: inline-block;
            opacity: 0.3;
            margin: 0 7px 0 0;
            width: 1.18em;
            height: 1em;
            font-family: Icons;
            font-style: normal;
            font-weight: 400;
            text-decoration: inherit;
            text-align: center;
            speak: none;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

/* [ VIEW MODE ] */

.ui-view.document.edit .article-view h3 {
    font-weight: bold;
    padding: 10px 0 10px;
    margin: 0;
    font-size: 1.5em;
    word-spacing: 3px;
}

.ui-view.document.edit .article-view p {
    font-weight: normal;
    padding: 0 0 20px;
    font-size: 1.3em;
    margin: 0;
    line-height: 1.5em;
    word-spacing: 1px;
}

.ui-view.document.edit .article-view .__img {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

    .ui-view.document.edit .article-view .__img img {
        max-width: 69%;
        margin: 15px auto;
    }
