
.ui-view.document.edit #edit-box {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    /*border: 1px solid #ccc;*/
}

.ui-view.document.edit #edit-html {
    min-height: 350px;
    height: 100%;
    line-height: 27px;
    word-spacing: 4px;
    color: #000;
    font-size: 1.3em;
}

    .ui-view.document.edit #edit-html p {
        padding: 0;
        margin: 0;
        height: 30px;
        width: 100%;
    }

.ui-view.document.edit [contenteditable] {
    outline: 0px solid transparent;
}

.ui-view.document.edit div.__img {
    display: inline-block;
    width: 100%;
    text-align: center;
}

    .ui-view.document.edit div.__img img {
        max-width: 69%;
        margin: 15px auto;
    }

.ui-view.document.edit .__line {
    padding-left: 5px !important;
    border-left: dotted 3px white !important;
}

    .ui-view.document.edit .__line.active {
        border-left: dotted 3px red !important;
    }

    .ui-view.document.edit .__line.h3 {
        font-weight: bold;
        padding: 10px 0;
    }
