<div class="d-inline-block w-100">
    <div class="position-absolute start-0 top-0 w-100 theme--bg-main d-flex flex-row" style="height:54px;z-index:1;">
        <div class="d-md-none d-inline-block p-0 cursor-pointer" onclick="$('#main-left').toggleClass('d-none')">
            <ui-button :cla_="['px-3 pt-3 pb-2']" :cla_icon_="'theme--color-1'">
                <template slot="SVG_PATH">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </template>
            </ui-button>
        </div>
        <div class="">
            <ui-input :cla_="'p-0 m-0 mt-2 ms-3 bg-transparent rounded-0 border-0 border-bottom theme--border-color-2'"
                      :cla_icon_="'theme--color-2'"
                      :cla_input_="'ps-0 theme--color-1'">
                <template slot="SVG_PATH">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </template>
            </ui-input>
        </div>
        <div class="flex-fill"></div>
        <div class="d-inline-block p-0 cursor-pointer">
            <ui-button :cla_="['px-3 pt-3 pb-2']" :items_="__vdata.tags" :cla_icon_="'theme--color-1'" :cla_sub_="'end-0 me-3'">
                <template slot="SVG_PATH">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </template>
            </ui-button>
        </div>
    </div>
    <div class="ui-masonry-grid ms-3" style="opacity:0;">
        <div v-for="(m,index) in items" class="ui-masonry-item card theme--bg-box mb-3" style="width: 18rem;">
            <!--<div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>-->
            <!--<img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
                <h5 class="card-title theme--title-1">{{m.title}}</h5>
                <p class="card-text theme--color-2">{{doc_getDescription(m.data)}}</p>
            </div>

            <div class="card-body text-end px-1 pt-0">
                <a class="btn btn-sm theme--color-2 theme--border-color-2 py-0 px-1 me-1 mb-1">{{m.type}}</a>
                <a class="btn btn-sm theme--color-2 theme--border-color-2 py-0 px-1 me-1 mb-1" v-for="tag in doc_getTags(m)">{{tag}}</a>
            </div>

            <ul class="list-group list-group-flush border-top border-bottom theme--border-color-3">
                <li class="list-group-item bg-transparent theme--color-2 theme--border-color-3">An item</li>
                <li class="list-group-item bg-transparent theme--color-2 theme--border-color-3">A second item</li>
                <li class="list-group-item bg-transparent theme--color-2 theme--border-color-3">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-sm theme--color-2 theme--border-color-1">Go somewhere</a>
            </div>

        </div>

        <!--<div class="ui card ui-masonry-item theme--bg-box" v-for="(m,index) in items">
            <div class="position-absolute top-0 cursor-pointer" style="right:0;" v-on:click="doc_editClick(m)">
                <i :class="['checkmark icon', index % 3 == 0 ? 'opacity-25':'text-primary']" style="font-size:0.7em;"></i>
            </div>
            <div class="image" v-show="m.image != null">
                <img class="card-img-top rounded-top" :src="m.image" />
            </div>
            <div class="content">
                <a class="header" v-on:click="doc_editClick(m)">
                    <svg class="theme--color-2 opacity-50" width="24" height="20" role="img"><use :xlink:href="'#tag-'+m.type" /></svg>
                    <span class="theme--title-1">{{m.title}}</span>
                </a>
                <div class="meta d-inline-block pt-3 w-100 theme--color-2">
                    <span class="date float-start text-capitalize">{{m.type}}</span>
                    <span class="date float-end">Joined in 2013</span>
                </div>
                <div v-if="m.type == 'article' || m.type == 'book'" class="description mt-1 theme--color-2">
                    {{doc_getDescription(m.data)}}
                </div>
            </div>
            <div class="content border-top-0 p-0 px-3 text-end">
                <span class="ui button text-capitalize mb-1 px-2 py-1 fs-08 bg-secondary theme--color-2">{{m.type}}</span>
                <span class="ui button text-capitalize mb-1 px-2 py-1 fs-08 bg-secondary theme--color-2" v-for="tag in doc_getTags(m)">{{tag}}</span>
            </div>
            <div class="p-2"></div>
        </div>-->
    </div>

</div>
